@font-face {
  font-family: "SentyWEN2017";
  src: url("../fonts/SentyWEN2017.ttf") format("woff");
}

html, body {
  width: 100;
  height: 100;
}

body {
  margin: 10px;
}

div.box {
  margin: 100px auto;
}

div.text {
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  font-family: "SentyWEN2017";
}

div.author {
  text-align: center;
  font-size: 30px;
  font-family: "SentyWEN2017";
  margin-top: 50px;
}
