body {
  font-family: monospace;
  margin: 30px;
  font-size: large;
  line-height: 30px;
}
footer {
  bottom: 0px;
  position: absolute;
  margin-bottom: 30px;
}
img.icon {
  width: 60px;
  border-radius: 10px;
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 18px;
  border: 1px solid #eee;
}
ul {
  padding-left: 25px;
}
li {
  margin-bottom: 10px;
}
p {
  margin: 0px;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #181818;
    color: #eee;
  }
  a {
    color: lightgreen;
  }
}
